 <h1>
  Actor #<%= @the_actor.id %> details
</h1>

<a href="/actors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<a href="/delete_actor/<%= @the_actor.id %>" class="btn btn-block btn-outline-secondary">
  Delete actor
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @the_actor.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @the_actor.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @the_actor.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="https://robohash.org/<%= @the_actor.id %>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.updated_at) %> ago
  </dd>
</dl>

<h2>Filmography</h2>
<table border = "1">
<% @roles.each do |role| %>
  <% film = Movie.where({ :id => role.movie_id}).first %>
  <% director = Director.where({ :id => film.director_id}).first %>
  <tr>
    <td>
      <%= film.title %>
    </td>
  
    <td>
      <%= film.year %>
    </td>
  
    <td>
      <%= director.name %>
    </td>
 
    <td>  
      <%= role.name %>
    </td>
 
    <td>
      <a href="/movies/<%= film.id %>">
      Show details
    </a>
    </td>
  </tr>
<% end %>

</table>
